* {
  font-family: Helvetica;
}

h1 {
  font-size: 100px;
  color: khaki;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

.tools {
  color: Blue;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  color: white;
}

#title1 {
  background-color: mediumspringgreen;
}

#title2 {
  background-color: lightcoral;
}

#title3 {
  background-color: skyblue;
}
